<data><qbgo>0</qbgo><file>/home/francisco/Dropbox/Stuff/Copy of Report_from_CMH_UNITED_CORP 20161028_linux.csv</file><folder>/home/francisco/Dropbox/Stuff</folder><map><part>Column A</part><description>Column B</description><cost>Column G</cost><price>Column H</price><qtyOnHand>Column F</qtyOnHand><qtyOnSO>Column E</qtyOnSO><qtyOnPO>Column D</qtyOnPO><barcode>Column C</barcode></map><export><noPrices>1</noPrices><highPrices>1</highPrices><twoPrices>1</twoPrices><upcPrices>1</upcPrices><webPrices>1</webPrices><images>1</images></export><listNoPrices><address>Subscribe</address></listNoPrices><listHighPrices><address>Subscribe</address></listHighPrices><listTwoPrices><address>Subscribe</address></listTwoPrices><listUpcPrices><address>Subscribe</address></listUpcPrices><listWebPrices><address>Subscribe</address></listWebPrices></data>